*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #2C3333;
    color : #E7F6F2;
    min-width: 300px;
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #E7F6F2;
    margin: 10px 0;
    font-size: 1.2em;
    color:#E7F6F2;
}

.hidden {
    display :none !important;
}
.show {
    display: block !important;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap : wrap;
}

.flex-col{
    display: flex;
    flex-direction: column;
}



/* Mobile Device */
@media (max-width: 480px) {

} 
